{% extends 'base.html' %}

{% block styles %}

    <link rel="stylesheet" href="../static/user_team.css">

{% endblock %}


{% block content %}
{% include './includes/teamnav.html' %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Poke Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th> {# keeping the empty col and rows for background spacing #}
      </tr>
    </thead>
    <tbody>

    {% if poke_names %}
        {% for poke in poke_names %}
          <tr>
            <th scope="row">{{ poke.title() }} </th>
            <td>
              <a href="{{ url_for('main.remove_pokemon', poke_name=poke) }}" class="btn btn-danger">Release</a>
            
            </td> {# DELETE BUTTON #}
            <td>{# Used to scale background #}</td>
            <td>{# Used to scale background #}</td>
            <td>{# Used to scale background #}</td>
          </tr>
        {% endfor %}
      
      {% endif %}
    </tbody>
  </table>
{% endblock %}