*{
  font-family: 'Roboto Mono', monospace;
  text-shadow: 1px 0px 1px black;

}


body{
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0); 
  background-position: 10%;
}

.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr; 
    grid-template-rows: 0.3fr 0.9fr 2.8fr 0.7fr 0.3fr; 
    gap: 5em 1em; 
    grid-template-areas: 
      "wspace1 wspace1 wspace1 wspace1"
      "opponent opponent opponent opponent"
      "stats user_sprite other_sprite stats2"
      "you you you you"
      "wpace2 wpace2 wpace2 wpace2"; 
    align-items: stretch;
    text-align: center;
  }
  
  .wspace1 { 
    grid-area: wspace1; 
    }
  
  .wpace2 { 
    grid-area: wpace2; 
    }
  
  .opponent { 
    grid-area: opponent;
    background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

 }
  
  .you {
    grid-area: you;
    background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);


 }
  
  .user_sprite { 
    grid-area: user_sprite;
 }
  
  .other_sprite { 
    grid-area: other_sprite; 
}
  
  .stats { 
    grid-area: stats; 
    background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}
  
  .stats2 { 
    grid-area: stats2; 
    background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}

.card{
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}
  