body{
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    background-position: 10%;
}

h1{
    text-align: center;
    margin-top: 15vh;
    text-shadow: 2px 2px 2px black;
}

button{
    margin-left: 45%;
    margin-top: 5vh;
    background-color: #f4d570;
    padding: 15px;
    border: 1px solid black;
    border-radius: 55%;
}

p{
    text-align: center;
    text-shadow: 2px 2px 2px black;
}