body{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
    margin-top: 15vh;
}

button{
    margin-left: 45%;
    margin-top: 5vh;
    background-color: #f4d570;
    padding: 15px;
    border: 1px solid black;
    border-radius: 55%;
}

p{
    text-align: center;
}