*{
    margin: 0;
    padding: 0;
}

body{
    background: #2193b0; 
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
background: linear-gradient(to right, #6dd5ed, #2193b0); 

}

h2{
    margin-top: 5vh;
    text-align: center;
    color: #f4d570;
    text-shadow: 2px 2px 2px black;

}

h1{
    margin-top: 15vh;
    text-align: center;
    color: #f4d570;
    text-shadow: 2px 2px 2px black;
}

form {
    margin-top: 10vh;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.form-label{
    margin: 15px;
    padding: 15px;
    font-size: xx-large;
    color: #f4d570;
}

.form-input{
    border: 1px solid black;
    padding: 5px;
}

.password{
    margin: 15px;
}

.button{
    background-color: #f4d570;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    text-shadow: 1px 1px 1px black;
}

.signup-btn{
    padding: 5px;
    background-color: #f4d570;
}