{% block styles %}

<link rel="stylesheet" href="../static/teamnav.css">

{% endblock %}


<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/images/efff65ee37b35ea3b4df426ad32b1097.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top pokedex">
      This is where you find your team and start battles others!
    </a>
    <div>
      {% if current_user.is_authenticated %}
        {{ username }}
        <a href="{{url_for('main.user_team')}}" class="team-link">Your Team </a>
        <a href="{{url_for('auth.logout')}}">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>