{% block styles %}

<link rel="stylesheet" href="../static/portal.css">

{% endblock %}


<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/portal">
      <img src="/static/images/efff65ee37b35ea3b4df426ad32b1097.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top pokedex">
      Welcome! Here you will select a Pokemon, then choose whether to add it to your team!
    </a>
    
      {% if current_user.is_authenticated %}
        <a href="{{url_for('main.user_team')}}" class="nav-link">Your Team </a>
        <a href="{{url_for('auth.logout')}}" class="nav-link">Logout </a>
      </div>
        {% endif %}
  </div>
  <div>
    
  </div>
</nav>