{% block styles %}

<link rel="stylesheet" href="../static/nav.css">

{% endblock %}


<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/portal">
      <img src="/static/images/efff65ee37b35ea3b4df426ad32b1097.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top pokedex">
      Welcome! Here you will select a Pokemon, then choose whether to add it to your team!
    </a>
    <button class="team-btn"><a href="/signup">Your Team</a></button>
  </div>
  <div>
    
  </div>
</nav>