{% block styles %}

<link rel="stylesheet" href="../static/teamnav.css">

{% endblock %}


<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/images/efff65ee37b35ea3b4df426ad32b1097.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top pokedex">
      This is where you find your team and start battles others!
    </a>
    <div class="btn-container">
      <div class="nav-btn">

        {% if current_user.is_authenticated %}
        {{ username }}
        <ul>          
          <li><div class="nav-btn"><a href="{{ url_for('main.poke_data') }}" class="nav-link">Search</a></div></li>
          <li><div class="nav-btn"><a href="{{ url_for('main.battle') }}" class="nav-link">Battle!</a></div></li>
          <li><div class="nav-btn"><a href="{{url_for('auth.logout')}}" class="nav-link">Logout</a></div></li>
          {% endif %}
        </ul>
        </div>
    </div>
  </div>
</nav>