{% extends 'base.html' %}

{% block styles %}

    <link rel="stylesheet" href="../static/index.css">

{% endblock %}

{% block content %}

{% include './includes/nav.html' %}


<h1> Welcome to GoodSoldier's Poke DataBase! </h1>
<h2> Here you will be able to create your own team, as well as battle others! </h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div>
        <label for="email" class="form-label">Username</label>
        {{ form.email(class="form-input", id="email", placeholder="Enter your Username...") }}
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        {{ form.password(class="password form-input", id="password", placeholder="Enter your Password...") }}
    </div>
    {{ form.submit_btn(class="button") }}
</form>

{% endblock %}